<h2>{{ 'AVAILABLE_DATA' | translate}}</h2>

<table class="table table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th class="orgunit">{{ 'ORGANISATIONUNIT_LABEL' | translate}}</th>
        <th ng-repeat="pe in periods">{{pe}}</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="orgunit in tableRows" ng-click="clickOrgunit(orgunit)"
                ng-show="{{ orgunit.relativeLevel == 0 || (orgunit.parents) }}">
            <td class="level{{ orgunit.level }}" style="text-indent: {{orgunit.relativeLevel}}em">{{orgunit.name}}</td>
            <td ng-repeat="period in orgunit.data" title="users: {{period.others}} || migration: {{period.pentaho}}"
                    style="background-color: rgb({{255 - (255 * period.others / (period.others + period.pentaho)) | number: 0}}, 255,0)">
                {{100 * period.others / (period.others + period.pentaho) | number: 0}} %</td>
        </tr>
    </tbody>
</table>