<h2>{{ 'AVAILABLE_DATA' | translate}}</h2>

<table class="table table-bordered table-condensed table-hover">
    <thead>
    <tr>
        <th class="orgunit">{{ 'ORGANISATIONUNIT_LABEL' | translate}}</th>
        <th ng-repeat="pe in periods">{{pe}}</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="orgunit in tableRows" ng-click="clickOrgunit(orgunit)">
            <td>{{orgunit.name}}</td>
            <td ng-repeat="period in orgunit.data">{{period.pentaho}}/{{period.others}}</td>
        </tr>
    </tbody>
</table>